{% extends 'base.html' %}
{% load static %}

{% block title %}フェザー級ランキング一覧 | rizin app{% endblock %}

{% block active_featherrank_list %}active{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            <div class="col-lg-8 col-md-10 mx-auto">
                <br>
                <br>
                <h2 class="featherrank-title">みんなが作ったRIZINフェザー級ランキング一覧</h2>
                <div class="clearfix">
                    <a href="{% url 'rizin_app:featherrank_create' %}" class="btn btn-primary float-right">フェザー級ランキングを作成</a>
                </div>
                {% for featherrank in featherrank_list %}
                    <div class="list_creater">作成者：{{ featherrank.user }} | <small>{{ featherrank.created_at }}</small></div>
                    <table class="table">
                        <tr>
                            <th>ランク</th> <th>名前</th> <th>国籍</th> <th>身長</th> <th>MMA戦績(一本,KO)</th> <th>RIZIN戦績(一本,KO)</th>
                        </tr>
                        <tr>
                            <td>C</td> <td><a rel="noopener noreferrer" target="_blank" href="https://jp.rizinff.com/_tags/斎藤裕">斎藤裕</a></td> <td>日本</td> <td>173cm</td> <td>19-4-2 (7)</td> <td>2-0 (1)</td>
                        </tr>
                        <tr>
                            <td>1</td> <td><a rel="noopener noreferrer" target="_blank" href="https://jp.rizinff.com/_tags/{{ featherrank.one.name }}">{{featherrank.one.name}}</a></td> <td>{{ featherrank.one.nationality }}</td> <td>{{ featherrank.one.height }}cm</td> <td>{{ featherrank.one.mma_record }}</td> <td>{{ featherrank.one.rizin_record }}</td>
                        </tr>
                        <tr>
                            <td>2</td> <td><a rel="noopener noreferrer" target="_blank" href="https://jp.rizinff.com/_tags/{{ featherrank.two.name }}">{{featherrank.two.name}}</a></td> <td>{{ featherrank.two.nationality }}</td> <td>{{ featherrank.two.height }}cm</td> <td>{{ featherrank.two.mma_record }}</td> <td>{{ featherrank.two.rizin_record }}</td>
                        </tr>
                        <tr>
                            <td>3</td> <td><a rel="noopener noreferrer" target="_blank" href="https://jp.rizinff.com/_tags/{{ featherrank.three.name }}">{{featherrank.three.name}}</a></td> <td>{{ featherrank.three.nationality }}</td> <td>{{ featherrank.three.height }}cm</td> <td>{{ featherrank.three.mma_record }}</td> <td>{{ featherrank.three.rizin_record }}</td>
                        </tr>
                        <tr>
                            <td>4</td> <td><a rel="noopener noreferrer" target="_blank" href="https://jp.rizinff.com/_tags/{{ featherrank.four.name }}">{{featherrank.four.name}}</a></td> <td>{{ featherrank.four.nationality }}</td> <td>{{ featherrank.four.height }}cm</td> <td>{{ featherrank.four.mma_record }}</td> <td>{{ featherrank.four.rizin_record }}</td>
                        </tr>
                        <tr>
                            <td>5</td> <td><a rel="noopener noreferrer" target="_blank" href="https://jp.rizinff.com/_tags/{{ featherrank.five.name }}">{{featherrank.five.name}}</a></td> <td>{{ featherrank.five.nationality }}</td> <td>{{ featherrank.five.height }}cm</td> <td>{{ featherrank.five.mma_record }}</td> <td>{{ featherrank.five.rizin_record }}</td>
                        </tr>
                        <tr>
                            <td>6</td> <td><a rel="noopener noreferrer" target="_blank" href="https://jp.rizinff.com/_tags/{{ featherrank.six.name }}">{{featherrank.six.name}}</a></td> <td>{{ featherrank.six.nationality }}</td> <td>{{ featherrank.six.height }}cm</td> <td>{{ featherrank.six.mma_record }}</td> <td>{{ featherrank.six.rizin_record }}</td>
                        </tr>
                        <tr>
                            <td>7</td> <td><a rel="noopener noreferrer" target="_blank" href="https://jp.rizinff.com/_tags/{{ featherrank.seven.name }}">{{featherrank.seven.name}}</a></td> <td>{{ featherrank.seven.nationality }}</td> <td>{{ featherrank.seven.height }}cm</td> <td>{{ featherrank.seven.mma_record }}</td> <td>{{ featherrank.seven.rizin_record }}</td>
                        </tr>
                        <tr>
                            <td>8</td> <td><a rel="noopener noreferrer" target="_blank" href="https://jp.rizinff.com/_tags/{{ featherrank.eight.name }}">{{featherrank.eight.name}}</a></td> <td>{{ featherrank.eight.nationality }}</td> <td>{{ featherrank.eight.height }}cm</td> <td>{{ featherrank.eight.mma_record }}</td> <td>{{ featherrank.eight.rizin_record }}</td>
                        </tr>
                        <tr>
                            <td>9</td> <td><a rel="noopener noreferrer" target="_blank" href="https://jp.rizinff.com/_tags/{{ featherrank.nine.name }}">{{featherrank.nine.name}}</a></td> <td>{{ featherrank.nine.nationality }}</td> <td>{{ featherrank.nine.height }}cm</td> <td>{{ featherrank.nine.mma_record }}</td> <td>{{ featherrank.nine.rizin_record }}</td>
                        </tr>
                        <tr>
                            <td>10</td> <td><a rel="noopener noreferrer" target="_blank" href="https://jp.rizinff.com/_tags/{{ featherrank.ten.name }}">{{featherrank.ten.name}}</a></td> <td>{{ featherrank.ten.nationality }}</td> <td>{{ featherrank.ten.height }}cm</td> <td>{{ featherrank.ten.mma_record }}</td> <td>{{ featherrank.ten.rizin_record }}</td>
                        </tr>
                    </table>
                    <br>
                {% empty %}
                    <p>ランキングがありません。</p>
                {% endfor %}

                {% if is_paginated %}
                    <ul class="pagination">
                        {% if page_odj.has_previous %}
                            <li class="page-item">
                                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}

                        {% for page_num in page_obj.paginator.page_range %}
                            {% if page_obj.number == page_num %}
                                <li class="page-item active">
                                    <a href="#" class="page-link">{{ page_num }}</a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a href="?page={{ page_num }}" class="page-link">{{ page_num }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if page_odj.has_next %}
                            <li class="page-item">
                                <a href="?page={{ page_obj.next_page_number }}" class="page-link">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}