{% extends 'base.html' %}
{% load static %}

{% block title %}フェザー級ランキング作成 | rizin app{% endblock %}

{% block active_featherrank_list %}active{% endblock %}

{% block contents %}
<hr>
<hr>
<h2 class="featherrank-create-title">-----あなたが考えるRIZINフェザー級ランキングを作ろう！-----</h2>
<hr>
<div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table">
                    {{ form.as_table }}
                </table>
                <button class="btn btn-primary" type="submit">作成</button>
                <button class="btn" type="submit"><a href="{% url 'rizin_app:featherrank_list' %}">キャンセル</a></button>
            </form>
        </div>
    </div>
</div>
{% endblock %}